html {
  background-color: #FAF7F2;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.u-float-right {
  float: right;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}


.movie_list {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  margin-bottom: 65px;
  width: 100%;
  margin-top: 30px;
}

.poster {
  position: relative;
  display: block;
  align-items: initial;
}

.poster-img {
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  position: relative;
  margin-bottom: 10px;
  margin-top: -20px;
}
.body_content {
  padding: 15px 25px;
}
